In [1]:
import eikon as ek
import pandas as pd
import numpy as np
import datetime
import cufflinks
from portfolio import read_data
import key
import os

print(ek.__version__) # 1.0.1
try:
    ek.set_app_key(key.key)
    eikon_disponible = True
    print('Eikon available')
except:
    eikon_disponible = False
    print('Eikon not available')

1.1.8
Eikon available

In [6]:
tickers = {'ETF WATER':{'Name':'ISHSII-GLOBAL WATER UCITS ETF',
                        'RIC':'IH2O.L',
                        'ISIN':'IQQQ',
                       'Definition':'Water traker'},
           'ETF IG 7-10':{'Name':'AMUNDI ETF IG 7-10',
                         'ISIN':'FR0010754184',
                         'RIC':'C73.PA'}
          }

In [7]:
start_date = datetime.date(2010,1,1)
end_date = datetime.date(2020,11,1)
df = read_data(tickers['ETF IG 7-10']['RIC'],start_date,end_date)

File not found!! Data\C73.PA.xlsx

In [8]:
df

C73.PA       CLOSE
Date
2010-01-04  171.39
2010-01-05  171.79
2010-01-06  171.31
2010-01-07  171.79
2010-01-08  172.04
...            ...
2020-10-26  284.03
2020-10-27  284.62
2020-10-28  284.36
2020-10-29  285.14
2020-10-30  284.88

[2758 rows x 1 columns]